.bg-main-primary {
  background-color: #000000; }

.bg-primary--mod {
  background-color: #ffffff; }

.bg-common {
  background-color: #131316; }

.bg-dark {
  background-color: #424245; }

.bg-light {
  background-color: #ffffff; }
