
.bg{
  &-main-primary{
    background-color:#000000;
  }
  &-primary--mod{
    background-color:#ffffff;
  }
  &-common{
    background-color:#131316;
  }
  &-dark{
    background-color:#424245;
  }
  &-light {
    background-color: #ffffff;
  }

}



