$primary-color:#00e0d0;
$standard-color--white:#ffffff;
$standard-color--black:#000;


$heading-color:#131316;
$description-color:#fff;
$link-color:#fff;
$link-color-hover:gold;


$title-size:24px;
$description-size:14px;

$font-family:'Playfair Display', sans-serif;
$font-family--mod:'Roboto', sans-serif;




